.graph1 rect {
	fill: #253494;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.domain {
	fill: none;
	stroke: black;
	stroke-width: 1;
} 